.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200rpx;
  .pic{
    width: 600rpx;
    background-color: #ffffff;
    box-shadow: 0 0 10rpx #888888;
    border-radius: 20rpx;
  } 
  .name{
    margin-top: 50rpx;
    font-size: 80rpx;
    font-family: 'cola';
  }
  .cal{
    margin-top: 50rpx;
    font-size: 50rpx;
    font-family: 'jianti';
  }
  .noCal{
    margin-top: 50rpx;
    font-size: 50rpx;
    font-family: 'jianti';
  }
  .submit{
    position: relative;
    height: 100rpx;
    font-family:'cola' ;
    width: 150rpx;
    top: 50rpx;
    font-size: 60rpx;
    margin-right: 20rpx;
    margin-bottom:20rpx ;
    background-color: rgb(255,195,0);
    border-radius: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
