page{
  background-color: rgb(255, 255, 255);
}

.logo{
  font-family: "logo";
    font-size: 100rpx;
    position: fixed;
    top:100rpx;
  .logoContent{
    
  }
}

.swiper-init{
  position: relative;
  top: 200rpx;
  transition: all 1s;
}

.swiper-moved
{
  position: relative;
  top: -500rpx;
}
